.header{
    display: inline-flex;
    text-justify: newspaper;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
.div1{
    display: inline-flex;
}
.div1.one:hover{
    color:deeppink;
    background-color: white;
}
.div2{
    display: inline-flex;
}
.section{
    display: inline-flex;
    text-justify: newspaper;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
.one{
    border: 20%; 
    text-decoration: dotted;
    text-decoration-color: aliceblue;
    color: aliceblue;
}
.p1{
    border: 20%; 
   padding: 5%;
}
.h1{
    color: rgb(253, 220, 58); 
}
body{
    background-color: black;
    color: aliceblue;

}
.marquee{
    text-justify: newspaper;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-decoration-line: inherit;
    color: deeppink;
    background-color: rgb(18, 18, 18);
}
.img{
    border-style:solid;
    border-color: deeppink;
    border-radius: 0cm;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito','sans-serif';
}
.span{
    color: deeppink;
}
.typed-cursor{
    opacity: 1;
}
.pspan{
    font-size: large;
}
.section2{
    display: inline-flex;
    text-justify: newspaper;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    border: 20%;
    padding:5%;
}
.div3{
    display: inline-flex;
}
.hireme{
    color: white;
    border: 5em;
    background-image: linear-gradient(45deg,#4568dc,#b06ab3);
    padding: 0.7em 2em;
    border-radius: 60px;
    cursor:pointer;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    transition: box-shadow 0.25s;
    font-size: 25px;
}
.aboutme{
    text-justify: newspaper;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    border: 20%;
    padding:5%;
    background-color: rgb(16, 31, 31);
}
.ab{
    text-align:center;

}
.me{
    color:deeppink;
}
.aboutimg{
    width: 90%;
    border-radius: 50%;
    border:.2rem soild deeppink(--main-color);
    border-color: deeppink;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.abp{
    font-size: 1.6rem;
    margin: 2rem 1 rem;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.section4{
    display: inline-flex;
    text-justify: newspaper;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    padding:15%;
}
.skills{
    text-align: center;
}
.qa{
    text-align:center;
    font-size:1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: deeppink;
}
.education{
    border: 20%;
    padding:5%;
}

.ul1{
    display: inline-flex;
    text-justify: newspaper;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}
.project{
    border: 20%;
    padding:5%;
    background-color: rgb(16, 31, 31);
}
.contact{
    
    text-justify: newspaper;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    border: 20%;
    padding:5%;
    background-color: rgb(5, 5, 5);

}
.in{
    text-align:center;
    font-size:1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: deeppink;
    padding: 5%;
}
.pr{
    text-align:center;
    font-size:1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: deeppink;
    padding: 5%;
}

